.table-container {
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .pedido-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  .pedido-table th {
    background-color: #f2f2f2; /* Gris claro */
    color: #333;
    text-align: left;
    padding: 10px;
  }
  
  .pedido-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .pedido-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pedido-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .download-button {
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #218838; /* Verde más oscuro */
  }
  
  .download-button:active {
    background-color: #1e7e34; /* Verde aún más oscuro */
  }
  
  /* Diseño responsivo para mostrar la tabla  */
  @media (max-width: 768px) {
    .table-container {
      overflow-x: auto;
    }
  
    .pedido-table {
      width: 100%;
      font-size: 12px; /* Reducir el tamaño de fuente en pantallas pequeñas */
      border: 0;
    }
  
    .pedido-table thead {
      display: none; /* Ocultar encabezados en dispositivos móviles */
    }
  
    .pedido-table tr {
      display: block;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      background-color: #f9f9f9;
    }
  
    .pedido-table th, .pedido-table td {
      padding: 8px; /* Reducir el padding */
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-bottom: 1px solid #ddd;
    }
  
    .pedido-table th {
      white-space: nowrap; /* Evitar que los títulos se dividan en varias líneas */
    }
  
    .pedido-table td {
      white-space: nowrap; /* Evitar que los datos se dividan en varias líneas */
    }
  
    .pedido-table td:last-child {
      border-bottom: 0;
    }
  
    .pedido-table td::before {
      content: attr(data-label); /* Mostrar el encabezado como etiqueta */
      font-weight: bold;
      color: #333;
      margin-right: 10px;
    }
  
    .download-button {
      padding: 5px 8px; /* Ajustar el tamaño del botón */
      font-size: 12px; /* Reducir el tamaño de fuente del botón */
    }
  }