.icono-llamada{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.map-container {
  height: 400px; /* Altura del mapa */
  width: 100%; /* Ancho del mapa */
  margin: 30px;
}

@media screen and (max-width: 768px) {
  .geolocalizacion-table {
    width: 100%; /* Asegurar que la tabla ocupe todo el ancho */
    border-collapse: collapse;
  }

  .geolocalizacion-table tr {
    display: flex;
    flex-direction: column; /* Organizar contenido verticalmente */
    width: 100%; /* Asegurar que cada fila ocupe todo el ancho */
  }

  .geolocalizacion-table td {
    display: block; /* Hacer que cada celda sea un bloque */
    width: 87%; /* Asegurar que cada celda ocupe todo el ancho */
    margin-bottom: 1rem; /* Espaciado entre celdas */
  }

  .left-panel,
  .map-container,
  .right-panel {
    width: 100%; /* Asegurar que cada panel ocupe todo el ancho */
    padding: 1rem; /* Agregar espaciado interno */
    box-sizing: border-box; /* Incluir padding en el ancho total */
  }

  .map-container {
    height: 300px; /* Reducir la altura del mapa en móviles */
    margin: 1rem 0.65rem ;;
  }

  .chat-button {
    width: 100%; /* Asegurar que los botones ocupen todo el ancho */
    margin-bottom: 1rem; /* Espaciado entre botones */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Espaciado entre el ícono y el texto */
  }

  .observaciones {
    width: 100%; /* Asegurar que el textarea ocupe todo el ancho */
    margin-bottom: 1rem; /* Espaciado inferior */
  }

  .calificacion {
    margin-bottom: 1rem; /* Espaciado entre calificaciones */
  }

  .slider-container {
    margin-top: 1rem; /* Espaciado superior */
  }

  .pin-container {
    text-align: center; /* Centrar el texto del PIN */
    margin-bottom: 1rem; /* Espaciado inferior */
  }

  .confirmacion {
    text-align: center; /* Centrar el texto de confirmación */
    margin-bottom: 1rem; /* Espaciado inferior */
  }
}